.site-header {
    background-color: $offWhite;
}

.site-branding img {
    margin: 0;
    padding: 0;
    padding: .3em 0;
}

.header-nav,
.header-addon {
    ul {
        margin: 0;
        padding: 0;
    }

    a {
        color: $lightBlack;
    }    
}

